<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="secondary">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>20/20/20 Timer App</ion-card-subtitle>
      <ion-card-title>What is this?</ion-card-title>
    </ion-card-header>
  
    <!-- Details how an end user should use this app -->
    <ion-card-content>
      <h2>This mobile application aims to help users reduce eye strain while working in front of a screen via the 20/20/20 method. 
      More specifically, this hybrid app provides users with two different timers: an active timer, which runs for 20 minutes, 
      and a rest timer, which runs for 20 seconds. During the active period, users are free to work in front of their screens uninterrupted; 
      during the rest period, users are encouraged to look at an object or area 20 feet away from them to give their eyes a break before returning to work. 
      To begin the active period, click the Active Timer tab; to begin the rest period, click the Rest Timer tab. Use the Eye Profile tab to create a new Eye Profile.
      With an Eye Profile, you can store valuable medical information such as contacts and eyeglass prescriptions.</h2>
    </ion-card-content>

  </ion-card>

</ion-content>
